name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.release.outputs.upload_url }}
    steps:
      - name: Create GitHub Release
        id: release
        uses: softprops/action-gh-release@v1 #
        with:
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}

  build-and-upload:
    needs: create-release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        target: [x86_64-unknown-linux-musl, x86_64-apple-darwin, x86_64-pc-windows-msvc]
        exclude:
          - os: macos-latest
            target: x86_64-unknown-linux-musl
          - os: windows-latest
            target: x86_64-unknown-linux-musl
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - name: Build Rust binary
        run: cargo build --release --target ${{ matrix.target }}

      - name: Archive and upload release assets
        uses: houseabsolute/actions-rust-release@v0 #
        with:
          executable-name: sturdygb
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
          upload-url: ${{ needs.create-release.outputs.upload_url }}
